// Colors

// Gray

$secondaryColor: rgb(103, 121, 127);
$GrayColor: rgb(135, 140, 143);
$lightGrayColor: rgb(214, 221, 228);

// Cyan
$primaryColor: rgb(102, 177, 200);
$mediumCyanColor: rgb(113, 196, 221);
$cyanColor: rgb(130, 226, 255);
$lightCyanColor: rgb(206, 244, 255);